*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
}

button {
  background-color: darkmagenta;
  font-size: 24px;
  color: white;
  padding: 20px 40px;
  justify-content: center;
  margin: auto;
  border: none;
  border-radius: 20px;
}

button:focus {
  animation: btn 0.2s linear;
}

@keyframes btn {
  0% {
    transform: translateX(-20%);
  }
  25% {
    transform: translateX(30%);
  }
  50% {
    transform: translateX(-30%);
  }
  75% {
    transform: translateX(20%);
  }
  100% {
    transform: translateX(0%);
  }
}
